<h1 style="text-align:center">Editing Employee</h1>

<%= render 'form', person: @person %>
<br/>
<%= link_to 'Show', @person, class: "btn btn-info"%>
<%= link_to 'Back', people_path, class: "btn btn-info"%>