<h1 style="text-align:center">Editing Technology</h1>

<%= render 'form', technology: @technology %>
<br/>
<%= link_to 'Show', @technology , :class => "btn btn-primary"  %>
<%= link_to 'Back', technologies_path , :class => "btn btn-primary"  %>