<h1>Neo4j Sample App</h1>
<p>This is a sample Neo4j Application it has four modules </p>
<p>Company</p>
<p>Department</p>
<p>Category</p>
<p>Technology</p>
<p>Employee</p>
<p> You can create a Company and then add respective Departments, Category, Technologies, Employees. </p>
<p> Also by clicking on Sidebar Links you can see a list of Nodes already present.</p> 	